.swiper-slide {
  display: flex !important;
  align-items: center !important;
  justify-content: center;
}

.swiper-wrapper {
  align-items: center;
}

.swiper-pagination-bullet {
  width: 8px !important;
  height: 8px !important;
  background: #ffffff33 !important;
  border-radius: 100%;
}
.swiper-pagination-bullet-active {
  width: 8px !important;
  height: 8px !important;
  background: #ffffff !important;
}
